Client/Connected Services/GisService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DBLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DBLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Weather">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityId" type="xs:int" />
      <xs:element minOccurs="0" name="Day" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DayTemp" type="xs:int" />
      <xs:element minOccurs="0" name="Descriptoin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdWeather" type="xs:int" />
      <xs:element minOccurs="0" name="NightTemp" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Weather" nillable="true" type="tns:Weather" />
  <xs:complexType name="ArrayOfCity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:City" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCity" nillable="true" type="tns:ArrayOfCity" />
  <xs:complexType name="City">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="City" nillable="true" type="tns:City" />
</xs:schema>